extends layout

block content
  h1= title

  p These pages are devoted to adminstration of the site itself.
  ul
    li
      a(href="/admin/notifications") Manage notifications
      |  (displayed on home page)
    li
      a(href="/admin/documents") Manage documents
      |  (for use in a notification)
    li
      a(href="/admin/invite") Invite a new administrator

  p
    | Also as an administrator you can see more details of failure reports as well as "reject" bogus entries.
    | (You will see this when viewing details of a failure report from the 
    a(href="/search") search page
    | .)
    
