extends layout

block content
  h1= title

  each error in errors
    div(role="alert").alert.alert-warning= error
  if sent
    p Email invitation sent.
  else
    p Please enter the email address of the person you want to invite as a new administrator.

  form(method="post", action="/admin/invite")
    .form-row
      .form-col.col.col-md-2
        .form-group
          label(for="email") E-mail address
          input(type="email" name="email" required).form-control
    .form-row
      .form-col.col.col-md-2
        .form-group
          button(type="submit").btn.btn-primary Invite
          span &nbsp;
          a(href="/admin").btn.btn-secondary Cancel
