extends ../layout

block nav
  a.p-2.text-dark(href='/admin') Admin

block footer
  p
    | You must be a registered administrator of this site. If you aren't part of the Malfunctioning Engine
    | Statistical Survey, please use the 
    a(href="/") public interface
    | .


