extends layout

block content
  style(type="text/css")
    | .dataTables_wrapper { margin-bottom: 2em; }
    | .dataTables_wrapper .title { display: inline-block; font-size: 1.5rem; }

  h1= title
  p
    | The last 
    = last_count
    |  motors with failure reports and the 
    a(href='#most')
      | top 
      = most_count
      |  reported motors of all time
    | .
    | For more detailed search, see the 
    a(href='/search') search page
    | .

  a(name='last')
  - var rows = last
  - var caption = "Most Recent"
  include latest-table.pug

  a(name='most')
  - var rows = most
  - var caption = "Top of All Time"
  include latest-table.pug

  p
    | Back up to 
    a(href='#last') the Most Recent motors
    | .

block scripts
  script(type='text/javascript')
    | $(document).ready(function() {
    |   $('table.table').DataTable({
    |     paging: false,
    |     info: false,
    |     responsive: true,
    |     columnDefs: [
    |       { targets: 4, type: "num", className: "text-right" },
    |     ],
    |     order: [[ 3, "desc" ]],
    |     dom: '<"title">frtip'
    |   });
    |   $('table.table').each((i, elt) => {
    |     var table = $(elt);
    |     var caption = table.find('caption').detach();
    |     var wrapper = table.closest('.dataTables_wrapper');
    |     wrapper.find('.title').append(caption.text());
    |   });
    | });
