extends layout

block content
  h1= title

  p
    | Sorry, that is a bad link.
    br
    | The main pages of this site:
  ul
    li
      a(href="/report") Submit a failure report
    li
      a(href="/latest") View a summary of failures
    li
      a(href="/search") Search for specific motors
    li
      a(href="/") Back to the home page
