body {
  padding: 1em;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
img.img-responsive {
  max-width: 100%;
}

.header img.logo {
  margin-right: 0.5em;
}
nav a:hover {
  text-decoration: none;
}
nav a:hover * {
  text-decoration: none;
  color: black;
}
nav a.p-2 {
  text-transform: uppercase;
  font-weight: bolder;
}
footer {
  margin-top: 1em;
  border-top: 1px solid #999;
  padding-top: 2pt;
  font-size: smaller;
}

table.notifications td {
  padding: 3pt 0;
}
table.notifications td.date {
  white-space: nowrap;
  vertical-align: top;
}
table.notifications td.headline {
  padding-left: 1em;
}

.dataTables_filter {
  float: left !important;
}
